header {
    width: 100%;
    height: 4rem;
    color: white;
    background-color: #0c325f;
}

.header-container {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section {
    padding: 1.5rem 0;
}

section.trash-data {
    background-color: #efefef;
    height: 100vh;
}

a:hover {
    cursor: pointer;
    color: red;
    text-decoration: unset;
}

.back-button {
    position: absolute;
    left: 25px;
}

.arrow {
    width: 15px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.card {
    border-radius: 15px;
    margin-bottom: 0.9rem;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    background-color: #30aee4;
}

.plus-sign {
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: white;
}

.plus-sign:last-child {
    transform: rotate(90deg);
}

.delete-button {
    color: #8f979b;
    background-color: unset;
    border: unset;
}

.btn-primary {
    background-color: #30aee4;
}
