header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    color: white;
    background-color: #0c325f;
}

section {
    padding: 1.5rem 0;
}

section.trash-data {
    background-color: #efefef;
    height: 100vh;
}

a:hover {
    cursor: pointer;
    color: red;
    text-decoration: unset;
}

.card {
    border-radius: 15px;
    margin-bottom: 0.9rem;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    background-color: #30aee4;
}

.plus-sign {
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: white;
}

.plus-sign:last-child {
    transform: rotate(90deg);
}

.delete-button {
    color: #8f979b;
}

.btn-primary {
    background-color: #30aee4;
}
